.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
  /* Ajusta la altura para tener en cuenta el encabezado */
}

.left-column {
  flex: 1;
  /* Ocupa una proporción menor del espacio disponible */
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.right-column {
  flex: 3;
  /* Ocupa una proporción mayor del espacio disponible */
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}